body{margin:50px;
	
}

ul{margin:0px;display:flex;background:rgb(172, 244, 17);border-radius:30px;}

ul li{padding:15px 35px 15px;list-style-type:none;}

ul li a{color:rgb(88, 33, 227);text-decoration:none;font-weight:bold;}

h1{font-size:50px;text-align:center;}

#activemenu{background:rgb(214, 142, 214) !important;}

/* css for home banner */

@keyframes mybanner{
	25%{background-image:linear-gradient(to left,blue,white,orange);}
	50%{background-image:linear-gradient(to right,blue,white,orange);}
	75%{background-image:linear-gradient(to right,blue,white,green);}
}
#banner{background-image:linear-gradient(blue,white,orange);padding:100px;
         height:170px;text-align:center;font-size:70px;color:red;
		 margin-top:20px;border-radius:10px;animation:mybanner;animation-duration:10s;
		 animation-iteration-count:infinite;}
		 
#container{text-align:center;padding:15px;}		

footer{background:black;color:white;padding:20px;text-align:center;border-radius:10px;} 



